.tree-box .el-tree {
  background: transparent;
}
.admin-tabs-box .el-input,
.admin-tabs-box .el-select {
  width: 350px;
}
//.search-box .el-range-editor.el-input__inner {
//  padding: 3px 5px;
//}
.admin-box .el-form-item__label {
  font-size: 16px;
}
.admin-form-box .el-tabs__item {
  font-size: 16px;
}
.department-table .el-table .cell {
  text-align: left;
}
